*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(to bottom,#f8edf8, #aeced9) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;
}
main {
    min-height: 100vh;
}
header {
    display: flex;
    position: sticky;
    height: 8vh;
    align-items: center;
    padding: 1rem;
    background-color: rgb(10, 29, 69);
    color: aliceblue;
    top: 0;
}
ul {
    display: flex;
    list-style-type: none;
    flex: 1;
    font-size: 1.8rem; 
}

a {
    /* font-size: 1.8rem; */
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
    margin: 1rem;
}
a:hover {
    background-color: rgb(217, 226, 233);
    color: rgb(8, 31, 78);
}
.active {
    background-color: #fff;
    color: rgb(8, 31, 78);
    box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
}
.active a{
    color: rgb(8, 31, 78);
}
.active a:hover{
    background-color: rgb(8, 31, 78);
    color: aliceblue;
}
.logo {
    flex: 3;
}
.bannerContent {
    display: flex;
}
.banner {
    margin: 100px 180px;
    width: 50%;
}
.banner h1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    color: rgb(29, 33, 120);
    text-shadow: 1px 2px gray;
}
.banner p {
    font-size: 2.5rem;
}
.bannerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    width: 400px;
    background: url('assets/image.jpeg') no-repeat center center/cover;
    margin: 70px 100px;
    position: relative;
}
.box {
    height: 400px;
    width: 400px;
    margin-top: 120px;
    position: relative;
    right: 450px;
    border: 2px solid black;
}
.details {
    min-height: 50vh;
}
h2 {
    margin-top: 1rem;
    margin-left: 1rem;
    color: rgb(16, 73, 163);
    font-size: 3.5rem;
    text-shadow: 0px 2px 2px rgb(168, 163, 163);
}
#projects,#about, #skills {
    text-align: center;
    margin-bottom: 5rem;
}
#projects p, #skills p{
    text-align: center;
    color: rgb(16, 73, 163);
    font-size: 3.5rem;
}

hr {
    width: 90%;
    margin-left: 140px;
    height: 40px;
    border-width: 3px;
}
.projectImg {
    width: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-left: 420px;
}
.projectImg img{
    height: 800px;
}
#ending {
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 2px 2px black;
    color: rebeccapurple;
}
/* Skills section */
#skills {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 32rem auto;
}
.skillContent {
    margin-top: 25rem;
} 
.skillImages {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}
.skillImages img {
    width: 500px;
    height: 400px;
}
.skillImages img:hover {
    transform: scale(1.2);
    transition: 1s ease-out;
}
/* About me */
.about-content {
    display: flex;
}
.about-content img {
    flex: 3;
    height: 500px;
    width: 150px;
    margin-left: 4rem;
}
.about-content p {
    flex: 3;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

/* Contact section */

.contact {
    text-align: left;
    border-radius: 5px;
    min-height: 30vh;
    color: rgb(16, 73, 163);
}
.contents {
    display: flex;
}
.contact-header {
    width: 38%;
    display: flex;
    align-items: center;
}
.content {
    width: 50%;
    text-align: left;
    padding: 20px;
    margin-left: 5rem;
    display: grid;
    justify-items: center;
    align-items: center;
}
.contact h3 {
    margin: 20px;
    padding: 20px;
    font-size: 3rem;
}
.line {
    margin-top: 1rem;
    height: 60vh;
    width: .2%;
    background-color: rgb(63, 59, 59);
    box-shadow: 2px 2px 2px gray;
}
label {
    font-size: 2rem;
    display: block;
    display: grid;
    justify-items: center;
    align-items: center;
}
input{
    font-size: 2rem;
    border-radius: 6px;
    border: none;
    font-family: inherit;
    margin: 1rem 2rem;
    padding: 1.5rem 2.5rem;
    box-shadow: 0 2px 2px gray;
    background-color: rgb(219, 211, 211);
}
.message {
    display: block;
    /* margin-right: 18rem; */
    padding: 1.5rem 2.5rem;
}
#textArea {
    font-size: 2rem;
    border-radius: 6px;
    border: none;
    font-family: inherit;
    margin: 0 2rem;
    padding: 1.5rem 2.5rem;
    box-shadow: 0 2px 2px gray;
    background-color: rgb(219, 211, 211);
}
#submit{
    padding: 20px;
    margin: 20px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    background: rgb(17, 62, 120);
    color: aliceblue;
    box-shadow: 1px 1px 1px gray;
}
/* footer */
footer{
    display: flex;
    height: 10vh;
    background-color: rgb(8, 31, 78);
    color: rgb(174, 206, 217);
}
footer h5 {
    font-size: 1.5rem;
    margin-top: 3.5rem;
    margin-left: 2rem;
    flex: 2;
}

.btn {
    background-color: rgb(12, 28, 88);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    color: white;
  }
.icon {
    font-size: 2.4rem;
}
#topBtn {
    border-radius: 50%;
    padding: 25px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
}
.btn:hover {
    background-color: aliceblue;
    color: rgb(12, 28, 88);
}
.icons {
flex: 2;
display: flex;
justify-content: center;
align-items: center;
}
.icons img {
    margin-left: 2.2rem;
    height: 65px;
    border-radius: 8px;
    background-color: rgb(8, 31, 78);
}