* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
header {
    display: flex;
    align-items: center;
    padding: .4rem;
    height: 300px;
}

.site-title {
    background-color: rgb(230, 230, 25);
    flex: 2;
    padding: 1rem;
    margin: .4rem;
};

ul {
    display: flex;
    flex: 2;
}
ul li{
    list-style-type: none;
    background-color: rgb(233, 161, 173);
};
main {
    display: flex;
}
section {
    display: flex;
}
.post-title {
    height: 55px;
    background-color: slategrey;
}
.post-meta {
    height: 55px;
    background-color: rgb(43, 147, 86);
}
.main-content {
    height: 55px;
    background-color: rgb(172, 176, 174);
}
.main-content-img {
    height: 55px;
    background-color: rgb(199, 196, 7);
}
aside {
    display: flex;
}
.side-bar {
    height: 55px;
    background-color: rgb(199, 109, 7);
}
.ads {
    height: 55px;
    background-color: rgb(31, 62, 14);
}
.other-stuff {
    height: 55px;
    background-color: rgb(151, 7, 199);
}
footer {
    height: 32px;
    background-color: brown;
}