* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
header {
    display: flex;
    align-items: center;
    padding: .4rem;
    height: 300px;
    padding: 1rem;
    margin: 1rem;
}

.site-title {
    background-color: rgb(230, 230, 25);
    flex: 2;
    padding: 1rem;
    margin: 1rem;
};

ul {
    display: flex;
    flex: 2;
}
ul li{
    list-style-type: none;
    background-color: rgb(233, 161, 173);
};
main {
    display: flex;
}
.post-title {
    height: 250px;
    background-color: slategrey;
}